#github_url: https://github.com/ucsb-cs8-w18/ucsb-cs8-w18-matni.github.io
github_url: https://github.com/zeester/ucsb-cs8-w18-matni.github.io

on_campus: http://proquest.safaribooksonline.com
off_campus: http://proquest.safaribooksonline.com.proxy.library.ucsb.edu:2048

start_week: 1
start_date: 2018-01-17 00:00:00.00-7:00
num_weeks: 9
extra_exam_week: true

instructor_url: https://ucsb-cs8.github.io/instructor

cal_dates: >
  [ 
  {"label":"First day of classes", "date":"2018-01-17" }, 
  {"label":"Univ Holiday", "date":"2018-02-19" }, 
  {"label":"Last day of classes", "date":"2018-03-14" }
  ]

course: "CS64"
#legacy_wiki_name: 8wiki
#legacy_wiki_url: "https://foo.cs.ucsb.edu/8wiki" 
qtr: "W18"
quarter: "Winter 2018"

kramdown:
   parse_block_html: true

exclude:
   - vendor

timezone: America/Los_Angeles

collections:
  hwk:
    output: true
    permalink: /hwk/:path/
    last_before: false
  lab:
    output: true
    permalink: /lab/:path/
    last_before: false
  exam:
    output: true
    permalink: /exam/:path/
  info:
    output: true
    permalink: /info/:path/
  lectures:
    output: true
    permalink: /lectures/:path/
  hw:
    output: true
    permalink: /hw/:path/


defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: default
  - 
    scope:
      path: ""
      type: hwk
    values:
      layout: hwk
  - 
    scope:
      path: ""
      type: lab
    values:
      layout: lab
  - 
    scope:
      path: ""
      type: exam
    values:
      layout: exam_info
  - 
    scope:
      path: ""
      type: info
    values:
      layout: info
  -
    scope:
      path: "syllabus.md"
      type: info
    values:
      layout: handout


