<table class="asn_table">

<tr>
  <th class="asn_num"  >num</th>
  <th class="asn_ready">ready?</th>
  <th class="asn_desc" >description</th>
  <th class="asn_assigned" >assigned</th>
  <th class="asn_due" >due</th>
</tr>

{% for hw in site.hw %}

<tr class={% if hw.ready %}"ready"{% else %}"not-ready"{% endif %} >
  <td class="simlifiedhw_num"  ><a href="{{hw.pdfurl}}" data-ajax="false">{{ hw.num }}</a></td>
  <td class="simlifiedhw">{{hw.ready}}</td>
  <td class="simlifiedhw_desc" >{{hw.desc }}</td>
  <td class="simlifiedhw_assigned" >{{hw.assigned | date: "%a %m/%d %I:%M%p" }}</td>
  <td class="simlifiedhw_due" >{{hw.due | date: "%a %m/%d %I:%M%p" }}</td>
</tr>

{% if hw.last_before %}
<tr><th colspan="5">{{hw.last_before}}</th></tr>
{% endif %}

{% endfor %}
</table>
